*{
	font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

body {
	background: #181818; 
	font-family: 'Lato', helvetica, arial, sans-serif; 
	font-size: 16px; 
	color: #222;
}

.clear {
	clear: both;
}

p {
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 20px;
	color: #444;
}

#cv {
	width: 90%;
	max-width: 800px;
	background: #f3f3f3;
	margin: 30px auto;
}

.mainDetails {
	padding: 25px 35px;
	border-bottom: 2px solid #cf8a05;
	background: #ededed;
}

#name h1 {
	font-size: 2.5em;
	font-weight: 700;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	margin-bottom: -6px;
}

#name h2 {
	font-size: 22px;
    margin-left: 2px;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    margin-top: 6px;
}

#mainArea {
	padding: 0 40px;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#headshot img {
	width: 100%;
	height: auto;
	border-radius: 50px;
	border-radius: 50px;
}

#name {
	float: left;
}

#contactDetails {
	float: right;
}

#contactDetails ul {
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 2px;
}

#contactDetails ul li {
	margin-bottom: 10px;
	color: #444;
}

#contactDetails ul li a:hover { 
	color: #cf8a05;
}


section {
	border-top: 1px solid #dedede;
	padding: 20px 0px;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

.sectionTitle h1 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 1.5em;
	color: #cf8a05;
}

.sectionContent h2 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	margin-bottom: -2px;
}

.subDetails {
	font-size: 14px;
    font-style: italic;
    margin-bottom: 6px;
}

.keySkills {
	list-style-type: none;
    column-count: 1;
 	margin-bottom: 22px;
    font-size: 16px;
    color: #444;
    padding-top: 3px;
}


.keySkills ul li {
	margin-bottom: 3px;
	
}
a{
	text-decoration: none;
}
table
{
    border: 1px dashed black;
    }
td
{
    padding: 13px;
    border: 1px solid #E88741;
 }
 #heading
{
    font-weight:bold;
    }

.p {
    padding-top: 8px;
}
#git{
	    font-style: italic;
    color: #910000;
}